
#post-list .row{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}
#post-list .row  [class*='col-'] {
    display: flex;
}

.card-title{
    /* One line ellipsis */
    /* text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; */

    /* Two line ellipsis */
    /* display: block;
    display: -webkit-box;
    height: 60px;
    line-height: 1.4;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden; */
}
.img{
    overflow: hidden;
}
.img img{
    max-height: 180px;
    object-fit: cover;
    transition: transform .7s;
}
.img img:hover{
    transform: scale(1.1);
}

.card-title{
    font-family: 'Bree Serif', serif;
}
.card-text{
    font-family: unset;
    color:#444;
}

.footer{
    font-size: 16px;
}
.footer .star-rating i{
    color:#f29f29;
    margin-right: 3px;
}
.footer .icons a{
    color:#999;
}
.footer .icons a:not(:last-child){
    margin-right: 12px;
}
.footer .icons a:hover{
    color:#666;
}

@media only screen and (min-width:576px) and (max-width:767px){
    .footer{
        font-size: 14px;
    }
}